@model CharacterDetailsModel

<div class="table table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr class="text-center" style="background-color: lightblue">
                <td><b>Species</b></td>
                <td><b>Homeworld</b></td>
                <td><b>Class</b></td>
                <td><b>Background</b></td>
            </tr>
            <tr class="text-center">
                <td>@Model.Species</td>
                <td>@Model.Homeworld</td>
                <td>@Model.Class</td>
                <td>@Model.Background</td>
            </tr>
        </tbody>
    </table>
</div>