@model CharacterCreateFormModel
<h2 class="text-center">Create Character</h2>
<hr />

<div class="row">
    <div class="col-12">
        <form method="post">
            <div class="form-row col-12">
                <div class="form-group col-lg-6 col-sm-12">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control form-control-lg" placeholder="Enter your character's name" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group col-lg-6 col-sm-12">
                    <label asp-for="CharacterImage"></label>
                    <input asp-for="CharacterImage" class="form-control form-control-lg" placeholder="Enter an image url for your character" />
                    <span asp-validation-for="CharacterImage" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-row col-12">
                <div class="form-group col-6">
                    <label asp-for="Homeworld"></label>
                    <input asp-for="Homeworld" class="form-control" placeholder="Enter your character's homeworld" />
                    <span asp-validation-for="Homeworld" class="small text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Species"></label>
                    <input asp-for="Species" class="form-control" placeholder="Enter your character's species" />
                    <span asp-validation-for="Species" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-group col-6">
                <label asp-for="ClassId">Class</label>
                <select asp-for="ClassId" class="form-control">
                    @foreach (var characterClass in Model.Classes)
                    {
                        <option value="@characterClass.Id">@characterClass.Name</option>
                    }
                </select>
                <span asp-validation-for="ClassId" class="small text-danger"></span>
            </div>

            <div class="form-group col-6">
                <label asp-for="BackgroundId">Background</label>
                <select asp-for="BackgroundId" class="form-control">
                    @foreach (var characterBackground in Model.Backgrounds)
                    {
                        <option value="@characterBackground.Id">@characterBackground.Name</option>
                    }
                </select>
                <span asp-validation-for="BackgroundId" class="small text-danger"></span>
            </div>

            <div class="form-row col-12">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Strength"></label>
                    <input asp-for="Strength" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Strength" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Dexterity"></label>
                    <input asp-for="Dexterity" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Dexterity" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Constitution"></label>
                    <input asp-for="Constitution" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Constitution" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Wisdom"></label>
                    <input asp-for="Wisdom" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Wisdom" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Intelligence"></label>
                    <input asp-for="Intelligence" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Intelligence" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Charisma"></label>
                    <input asp-for="Charisma" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Charisma" class="small text-danger"></span>
                </div>
            </div>

            <div class="container col-3 text-danger text-left">
                <div asp-validation-summary="ModelOnly"></div>
            </div>

            <div class="col-12 text-center">
                <input class="btn btn-primary" style="width: 120px" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
