@model CharacterCreateModel

<div class="row">
    <form method="post">
        <div class="form-group">
            <input asp-for="Name" class="form-control form-control-lg" style="width:350px"placeholder="Type your character's name" />
        </div>
    </form>
</div>