@model CharacterCreateModel

<div class="row">
    <form method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control form-control-lg" style="width:350px" placeholder="Enter your character's name" />
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Homeworld"></label>
                <input asp-for="Homeworld" class="form-control" style="width:275px" placeholder="Enter your character's homeworld" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Species"></label>
                <input asp-for="Species" class="form-control" style="width:275px" placeholder="Enter your character's species" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ClassId">Example select</label>
            <select asp-for="ClassId" class="form-control">
                @foreach (var characterClass in Model.Classes)
                {
                    <option value="@characterClass.Id">@characterClass.Name</option>
                }
            </select>
        </div>
    </form>
</div>
