@model CharacterEditFormModel
<h2 class="text-center">Edit Character</h2>
<hr />

<div class="row">
    <div class="col-12">
        <form method="post">
            <div class="form-row col-12">
                <div class="form-group col-lg-6 col-sm-12">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control form-control-lg" placeholder="Enter your character's name" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group col-lg-6 col-sm-12">
                    <label asp-for="CharacterImage"></label>
                    <input asp-for="CharacterImage" class="form-control form-control-lg" placeholder="Enter an image url for your character" />
                    <span asp-validation-for="CharacterImage" class="small text-danger"></span>
                </div>
            </div>

            <h4 class="text-center">Attributes</h4>
            <hr />

            <div class="form-row col-12">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Strength"></label>
                    <input asp-for="Strength" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Strength" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Dexterity"></label>
                    <input asp-for="Dexterity" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Dexterity" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Constitution"></label>
                    <input asp-for="Constitution" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Constitution" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Wisdom"></label>
                    <input asp-for="Wisdom" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Wisdom" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Intelligence"></label>
                    <input asp-for="Intelligence" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Intelligence" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Charisma"></label>
                    <input asp-for="Charisma" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Charisma" class="small text-danger"></span>
                </div>
            </div>

            <h4 class="text-center">Status Points</h4>
            <hr />

            <div class="form-row col-12">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="CurrentXP"></label>
                    <input asp-for="CurrentXP" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="CurrentXP" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="HitPoints"></label>
                    <input asp-for="HitPoints" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="HitPoints" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="MaxHitPoints"></label>
                    <input asp-for="MaxHitPoints" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="MaxHitPoints" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Effort"></label>
                    <input asp-for="Effort" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Effort" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="SystemStrain"></label>
                    <input asp-for="SystemStrain" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="SystemStrain" class="small text-danger"></span>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label asp-for="Credits"></label>
                    <input asp-for="Credits" class="form-control form-control-sm" style="width:75px" />
                    <span asp-validation-for="Credits" class="small text-danger"></span>
                </div>
            </div>

            <div class="container col-3 text-danger text-left">
                <div asp-validation-summary="ModelOnly"></div>
            </div>

            <div class="col-12 text-center">
                <input class="btn btn-primary" style="width: 120px" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
