@model EquipmentFormModel

<div class="row">
    <div class="col-12">
        <form method="post">
            <div class="form-group col-8 offset-2">
                <div class="form-row">
                    <div class="form-group col-7">
                        <label asp-for="EquipmentId">Name</label>
                        <select asp-for="EquipmentId" class="form-control">
                            @foreach (var equipment in Model.Equipments)
                            {
                <option value="@equipment.Id">@equipment.Name</option>}
                        </select>
                        <span asp-validation-for="EquipmentId" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-2">
                        <label asp-for="Count"></label>
                        <input asp-for="Count" class="form-control" />
                        <span asp-validation-for="Count" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-2">
                        <label asp-for="Location">Location</label>
                        <select asp-for="Location" class="form-control">
                            <option>Stowed</option>
                            <option>Backpack</option>
                            <option>Readied</option>
                            <option>Ship</option>
                            <option>Deployed</option>
                        </select>
                        <span asp-validation-for="Location" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-1">
                        <label>Delete</label>
                        <a asp-controller="Equipments" asp-action="Delete" asp-route-characterEquipmentId="@Model.CharacterEquipmentId" class="text-decoration-none">
                            <div class="text-center">
                                <input type="button" class="btn-danger" value="X" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <input class="btn btn-primary" style="width: 120px" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}